<div id="tab-1" class="tab-content current">
  <h2>Cryptocurrency Prices</h2>
  <p>Bitcoin Price: $<%= bitcoinPrice %></p>
  <p>Ethereum Price: $<%= ethereumPrice %></p>

  <h3>Select a Cryptocurrency</h3>
  <select id="crypto-dropdown">
    <% cryptos.forEach(function(crypto) { %>
      <option value="<%= crypto.id %>"><%= crypto.name %></option>
    <% }); %>
  </select>
  <button id="refresh-cryptocurrencies-btn">Refresh Cryptocurrencies</button>
</div>
