body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav {
  background: #ddd;
  padding: 10px;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.tabs .tab-link {
  background: #ccc;
  padding: 10px 20px;
  margin-right: 5px;
  cursor: pointer;
}

.tabs .tab-link.current {
  background: #333;
  color: #fff;
}

.tab-content {
  display: none;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
}

.tab-content.current {
  display: block;
}

main {
  padding: 20px;
}

#crypto-chart {
  /*
  max-width: 80% !important;
  height: 10% !important;
  */
  width: 1700px !important;
  height: 400px !important;
}

#portfolio-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#portfolio-table th,
#portfolio-table td {
  border: 1px solid #ccc;
  padding: 8px 12px;
  text-align: left;
}

#portfolio-table thead {
  background-color: #eee;
}

#portfolio-table tfoot td {
  font-weight: bold;
  background-color: #f8f8f8;
}

